// Define variables for your color scheme

// For example:
$red: #FD1015;
$dark-red: #501B1D;
$midle-red: #922820;
$blue: #7395AE;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$aqua-blue: #A8D0D5;
$dark-aqua: #54686a;
$purple: #64485C;
$light-purple: #83677B;
$pink: #d5ada8;
$cotton: #EAE7DC;
$middle-gray: #7f7f7f;
