// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "GT_America", 'san-serif';
$headers-font: "Faktum_Regular", 'sans-serif';

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Faktum_Bold";
  src: font-url('Faktum_Bold.otf');
}

@font-face {
  font-family: "Faktum_Regular";
  src: font-url('Faktum_Regular.otf');
}

@font-face {
  font-family: "GT_America";
  src: font-url('GT_America_Regular.otf');
}
