// Specific CSS for your home-page
.carousel-item-home {
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.carousel-home {
  justify-content: center;
}

.container-carousel-home {
  width: 350px;
  height: 100px;
  margin: 1.5rem auto;
}
