<div class="footer bg-dark">
  <div class="footer-links">
    <a href="https://github.com/marinaacp/Easy_Travelly" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    EasyTravelly <i class="fa-solid fa-plane"></i>
  </div>
</div>
