<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/marinaacp/Easy_Travelly" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <span>E<span class="text-small">asy</span>T<span class="text-small">ravelly</span> ©</span> <i class="fa-solid fa-plane text-white"></i>
  </div>
</div>
