<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(/assets/banner_image.jpg);">
  <div class="container">
    <h1><strong>EasyTravelly:</strong> Viagem sem dor de cabeça!</h1>
    <br>
    <%= link_to 'Sign up!',new_user_registration_path , class:'btn btn-flat btn-primary' %>
  </div>
