.card-horizontal .btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: $aqua-blue;
  color: black;
  border: $aqua-blue;
}

.banner-home .btn {
  background-color: $aqua-blue;
  color: black;
  border: $aqua-blue;
}
