.cards-flights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

@media(max-width: 992px) {
  .cards-hotels {
    grid-template-columns: 1fr;
  }
}

.card-flight {
  transition-timing-function: linear;
  transition-timing-function: ease-in;
  transition-duration: 0.25s;
  &:hover {
    transform: scale(1.1, 1.1);
  }
}

// .card-flight-info {
//   display: flex;
//   position: relative;
// }


.flight-avatar img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  // transition-timing-function: linear;
  // transition-timing-function: ease-in;
  // transition-duration: 0.25s;
 &:hover {
    transform: scale(1.1, 1.1);
  }
}
