.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 0.5;
}

.footer .fa-plane {
  color: white;
}


@media(max-width: 576px) {
  .footer-links a {
    font-size: 16px;
    padding: 0px 8px;
  }
}
