.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

#box-budget {
  height: 30px;
}

.select2-container--default .select2-selection--single {
  background-color: #EAE7DC;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.select2-dropdown {
  background-color: #EAE7DC;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: #d8d5ca;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
