.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
  color: black !important;
  position: sticky;
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 32px;
}

.brand-name {
  font-family: $headers-font;
}

.navbar-brand {
  color: $dark-pink;

  &:hover {
    opacity: 0.5;
  }
}

.brand-name-final {
  color: $dark-aqua;

  &:hover {
    opacity: 0.5s;
  }
}
