<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 bg-light p-4 ">
      <h1>Describe your hotel</h1>
      <hr>
      <%= simple_form_for @hotel do |f| %>
        <%= f.input :name, label:'Hotel name' %>
      <% end %>
    </div>
  </div>
</div>
